@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBFBFB;
}

/*Fonts-family*/
nav>p,
h2 {
    font-family: 'Covered By Your Grace', cursive;
}

h3,
p,
address {
    font-family: 'Open Sans', sans-serif;
}

/*Header*/
h1 {
    font-family: 'Concert One', cursive;
    padding: 10px 0;
    font-size: 35px;
    color: #CA1C25;
    letter-spacing: 8px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav>p {
    display: inline-block;
    font-size: 22px;
    padding: 5px 20px;
    color: gray;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

nav>p:hover {
    transform: scale(1.2);
}

/*Main*/
main {
    padding: 30px 0 100px 0;
    margin: 0 20%;
}

h2 {
    text-align: center;
    font-size: 60px;
    color: #4C8B86;
}

h3 {
    margin: 30px 0;
    font-size: 26px;
    font-weight: 700;
}

h4 {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

/*Text*/
header h1,
header>h2,
article h3,
article p,
.contact-container p,
.contact-container address {
    text-align: center;
}

p, address  {
    font-size: 20px;
    font-weight: 300;
}

li p {
    display: inline;
    margin-left: 3px;
}

.mini-title {
    font-family: 'Concert One', cursive;
    padding: 10px 0;
    font-size: 20px;
    color: #CA1C25;
    letter-spacing: 4px;
    text-align: center;
}

.indent {
    display: block;
    text-indent: 5%;
}

.center-text {
    text-align: center;
}

.margin-bottom{
    margin-bottom: 30px;
}

address {
    margin: 2% 0;
}

.active {
    color: black;
}

.active:hover {
    transform: none;
}

nav a {
    text-decoration: none;
    color: gray;
}

/*Img*/
header img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.mdhl-logo {
    width: 150px;
    height: auto;
    margin: 5% 0 0 0;
    position: fixed;
    bottom: 30px;
    right: 50px;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.mdhl-logo:hover {
    animation-name: mdhl-logo;
    -webkit-animation-name: mdhl-logo;
    -moz-animation-name: mdhl-logo;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}

@keyframes mdhl-logo {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

/*Lists*/
ul, ol {
    list-style: none;
    list-style-position: inside;
}

.number-list {
    list-style-type: decimal;
    font-size: 22px;
}

.number-list>li {
    margin: 30px 0;
}

.letter-list {
    list-style-type: lower-alpha;
    font-size: 18px;
    display: inline;
}

.circle-list {
    list-style-type: circle;
    font-size: 18px;
    display: inline;
}

.circle-list li {
    margin-left: 5%;
}